
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 999px;
}

.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0px;
}

.header__center > .icon {
    padding: 10px;
    background-color: rgb(223, 136, 136);
    border-radius: 999px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
    width: 15vw;
}

.header__right__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    width: 4vw;
    border: 2px solid lightgray;
    border-radius: 99px;
}